---
import Layout from '../layouts/Layout.astro';
import CardList from '../components/CardList';
import AddCardForm from '../components/AddCardForm';
---

<Layout title="Stocard Alternative">
	<main class="container mx-auto p-4">
		<AddCardForm client:load />
		<CardList client:load />
	</main>
</Layout>