---
import Layout from '@/layouts/Layout.astro';
import MainPage from '@/components/MainPage';
---

<Layout title="Stocard Alternative">
	<main class="container mx-auto p-4">
		<MainPage client:load />
	</main>
</Layout>